{% extends "base.html" %}
{% block body %}
<div class="d-flex justify-content-between align-items-center bg-cyan-950 text-light px-5 py-3 shadow">
    <div class="d-flex align-items-center gap-3">
        <img src="https://i.ibb.co/kqX6J8W/freepik-background-27962.png" 
             alt="CommUnity Logo" 
             class="rounded-circle border border-light" 
             height="70" width="70" />
        <div>
            <h1 class="fs-3 fw-bold m-0">CommUnity</h1>
            <p class="small m-0">Seamless Community Interaction and Management</p>
        </div>
    </div>
    <div class="d-flex align-items-center gap-3 fw-bold fs-5">
        <span>{{ session.get('user_name', 'Guest') }}</span>
        <i class="fa-solid fa-user"></i>
    </div>
</div>

{% block content %} {% endblock content %}
{% endblock %}
