{% extends "registration.html" %}
{% block form %}
<form class="d-flex flex-column align-items-center justify-content-center" style="height: 75vh;" >
    <div class="mb-3 w-50">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
    </div>
    <div class="mb-3 w-50">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter Your Password">
    </div>
    <div class="mb-3 w-25">
        <button class="px-5 py-2 mt-3 rounded-5 text-light bg-cyan-950 fw-bold">Login</button>
    </div>
    <div class="mb-3 w-50 text-center">
        Don't have an account? <a href="signup">signup</a>
    </div>
</form>
{% endblock %}